body{
background-color:white;
width: 95%;
display:block;
padding-top: 40px;
}
section#infoframe{
    display:block;
    float:right;
    height: 3000px;
    width:1200px;
    text-align: left;
    background-color: white;
    box-shadow: 0 14px 14px rgba(11, 38, 90, 0.5);
    padding-right:30px;
    padding-top:30px;
}

#logo{
    height: 50px;
}
header{
    color: blue;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    font-size:34px;
    margin-left: 0PX;
    padding-right: 0px;
    margin-right: auto;
}

li.nav_list{
    font-size: 24px;
}

ul li{
    list-style-type: none;
}
section.aircraft_image{
    display:block;
    float:right;
    height: 230px;
    width: 800px;
    background-image: url('../Images/777_crop.png');
    background-size: 500px 700px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left:100px;
    margin-bottom: 150px;
    box-shadow: 0 14px 14px rgba(2, 28, 77, 0.5);
}


/*This sets the image section to center */

aside.aircraft_image1_noteworthy{
    display:block;
    float: right;
    margin:auto;
    height: 230px;
    width: 200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

section.Boeing777{
    display:block;
    float:right;
    margin-right: auto;
    margin-left:auto;
    margin-top: 32%;
}


